**/*.exe
**/*.log
**/*.dll
**/*.so
**/*.a
**/*.o
**/*.7z
**/*.dmg
**/*.gz
**/*.iso
**/*.jar
**/*.rar
**/*.tar
**/*.zip
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

rtmputil.si4project/

.vs/
bin/
lib/
log/
out/
cmake-build-debug/
cmake-build-release/
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
**/cmake_install.cmake
**/CMakeSettings.json
**/*.vcxproj
**/*.vcxproj.filters
**/*.sln

**/*sqlite.db
**/*sqlite.db-shm
**/*sqlite.db-wal
**/*sqlite3.db

**/success.txt
**/failed.txt